<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/landing.css') }}" type="text/css" media="all">
    <style>
        body{
  padding: 1em;
  background: url(http://www.harbourfront.com.au/images/backgrounds/IMG_9857.jpg);
  background-size: cover;
}
    </style>
</head>

<body>
<center>
    <div class="body"></div>
    <div class="grad"></div>
		<div class="header">
			<div>Shipudey Afeka</div>
		</div>
    <form action="/reservations" method="GET">
    <button class="button" style="vertical-align:middle">
        <span>Reservations</span>
    </button>
    </form>
     <form action="#" method="GET">
    <button class="button" style="vertical-align:middle">
        <span>Layout</span>
    </button>
     </form>
    </center>
</body>
</html>